---
import Discord from '@assets/Discord.astro';
import GitHub from '@assets/GitHub.astro';
import Mastodon from '@assets/Mastodon.astro';
import X from '@assets/x.astro';
---

<footer class="my-10 flex flex-col items-center gap-4 md:flex-row md:justify-between">
	<ul class="flex gap-4">
		<li><a>Link 1</a></li>
		<li><a>Link 2</a></li>
	</ul>
	<ul class="flex justify-end gap-4">
		<li><a><X /></a></li>
		<li><a><Discord /></a></li>
		<li><a><GitHub /></a></li>
		<li><a><Mastodon /></a></li>
	</ul>
</footer>
