---
import Discord from '@assets/Discord.astro';
import GitHub from '@assets/GitHub.astro';
import Mastodon from '@assets/Mastodon.astro';
import X from '@assets/x.astro';
---

<header class="my-6 flex items-center justify-between">
	<a href="/" class="font-bold text-[#2A0050] dark:text-[#FF92E8]">Nexus Careers</a>
	<ul class="hidden justify-end gap-4 md:flex">
		<li><a href="https://x.com/astrodotbuild"><X /></a></li>
		<li><a href="https://astro.build/chat"><Discord /></a></li>
		<li><a href="https://github.com/withastro"><GitHub /></a></li>
		<li><a href="https://m.webtoo.ls/@astro"><Mastodon /></a></li>
	</ul>
</header>

<style>
	a {
		@apply transition-colors duration-300 hover:text-[#2A0050] dark:hover:text-[#FF92E8];
	}
	a svg {
		@apply size-3 md:size-6;
	}
</style>
