---
import SortForm from './SortForm.astro';

interface Props {
  numberOfJobs: number;
  sortOptions: { name: string; value: string }[];
  selectedSort: string;
}

const { numberOfJobs, sortOptions, selectedSort } = Astro.props;
---
<div class='flex justify-between items-center mb-4'>
  <p class='text-[#4C5071] dark:text-[#7C81A7] text-xl font-bold'>
    {numberOfJobs} job{numberOfJobs === 1 ? '' : 's'}
  </p>
  <SortForm {sortOptions} {selectedSort} />
</div>

