---
import Layout from '../layouts/Default.astro'
---

<Layout>
  <div class="my-12 md:my-24 flex gap-4 flex-col items-center align-center">
    <h1>404</h1>
    <p>Looks like that job is not found</p>
  </div>
</Layout>