---
import Layout from '../layouts/Default.astro';
---

<Layout>
	<div class="align-center my-12 flex flex-col items-center gap-4 md:my-24">
		<h1>404</h1>
		<p>Looks like that job is not found</p>
	</div>
</Layout>
