---
import Layout from '@layouts/Default.astro';
import { db, Signup } from 'astro:db';

const signups = await db.select().from(Signup);
---

<Layout>
	<h1>Signups:</h1>
	<ul class="mt-6 list-disc">
		{
			signups.map((signup) => (
				<li>
					<p>{signup.email}</p>
				</li>
			))
		}
	</ul>
</Layout>
