---
import Layout from '@layouts/Default.astro';
import BigCheck from '@assets/BigCheck.astro';
---

<Layout>
	<section class="my-40 flex flex-col items-center justify-center gap-6">
		<BigCheck />
		<h1>Success!</h1>
		<p class="gray-700">We will be in touch soon.</p>
	</section>
</Layout>
