---
import Layout from '@layouts/Default.astro';
import BigCheck from '@assets/BigCheck.astro';
---

<Layout>
  <section class='flex flex-col gap-6 justify-center items-center my-40'>
    <BigCheck />
    <h1>Success!</h1>
    <p class='gray-700'>We will be in touch soon.</p>
  </section>
</Layout>
