---
import X from '@assets/x.astro';
import Discord from '@assets/Discord.astro';
import GitHub from '@assets/GitHub.astro';
import Mastodon from '@assets/Mastodon.astro';
---

<footer class='flex flex-col'>
  <hr class='border-gray-100 dark:border-[#27293A]' />
  <div class='flex justify-center md:justify-end gap-4 my-10'>
    <a href='https://twitter.com/astrodotbuild'>
      <X />
    </a>
    <a href='https://astro.build/chat'>
      <Discord />
    </a>
    <a href='https://github.com/withastro'>
      <GitHub />
    </a>
    <a href='https://m.webtoo.ls/@astro'>
      <Mastodon />
    </a>
  </div>
</footer>
