---
import Logo from './Logo.astro';
---

<header class="m-10 flex justify-between">
	<a href="/"><Logo /></a>
	<!-- Enable navigation -->
	<!-- <nav>
    <ul class='flex gap-6 dark:text-[#E1E2EB]'>
      <li>
        <a href='/about'>About us</a>
      </li>
      <li>
        <a href='/careers'>Careers</a>
      </li>
    </ul>
  </nav> -->
</header>
