name: Format

on:
  push:
    branches: [main]
  workflow_call:

permissions:
  actions: write
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
      - run: pnpm run format
      - uses: stefanzweifel/git-auto-commit-action@v5
